body{
  width: 75%;
  margin: 0px auto;
  font-family: sans-serif;
}

h1{
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
}

img{
  max-width: 300px;
  height: auto;
}

.mealtype, .breakfast, .lunch, .dinner, .snack{
  list-style: none;
  display: block;
}

#menu{
  margin: 0px auto;
}

#menu ul{
  display: table;
  margin: 0px auto;
  padding: 0px;
}

#menu li{
  list-style: none;
  display: inline;
  margin: 5px;
}

#menu li:hover{
  cursor: pointer;
}

#all{
  border-bottom: 2px solid black;
}

#breakfast, #lunch, #dinner, #snacks{
  border-bottom: none;
}


.recipe{
  border: 2px solid #bbb;
  border-radius: 4px;
  padding: 20px;
  padding-top: 5px;
  margin: 10px;
}
